/* -------------------------- Blog Navbar--------------------------------- */
.blogNav{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #b6aeae;
}

.blogNav > div a{
    margin: 0 -60px;
}

.blogNav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogNav ul li{
    list-style: none;
    margin: 0 10px;
}

.blogNav ul li button{
    background: transparent;
    border: none;
    font-size: 17px;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    transition: background .5s;
}

.blogNav ul li button:hover{
    background-color: white;
}

.blogNav .search input{
    height: 35px;
    width: 160px;
    border: 2px solid black;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 17px;
    margin-right: 10px;
}

.blogNav .search button{
    font-size: 16px;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    background: transparent;
    transition: ease .5s;
}

.blogNav .search button:hover{
    background-color: black;
    color: white;
}

/* -------------------------- Wright blog --------------------------------- */
.blog{
    min-height: 100vh;
    background-color: rgb(167, 176, 183);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogTitle{
    display: flex;
    flex-direction: column;
}

.blog label{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.blog input, textarea{
    margin: 15px 0;
    height: 50px;
    width: 400px;
    background: transparent;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 10px;
}

.blogCategory{
    display: flex;
    flex-direction: column;
}

.blogCategory label{
    margin-top: 20px;
}

.postBTN{
    margin-top: 20px;
    height: 40px;
    width: 100px;
    padding: 6px;
    font-size: 16px;
    background: transparent;
    border: 2px solid #552a2a;
    border-radius: 15px;
    color: #552a2a;
    transition: color .5s;
}

.postBTN:hover{
    background-color: black;
    border: 2px solid black;    
    color: white;
}

/* ------------------------------------ view blog ----------------------------------- */
.ViewBlog{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ViewBlog h1{
    font-size: 4rem;
    margin: 18px auto;
    font-family: 'Ubuntu', sans-serif;
}
