*{
    margin: 0;
    padding: 0;
}
/* ------------------------------------Landing page---------------------------------- */
#body{
    background: linear-gradient(to right, #1e6be7 5%, #242f6e);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#body h1{
    font-size: 55px;
    margin: 30px 0;
    color: #fff;
}

#body p{
    width: 500px;
    margin-bottom: 20px;
}

#body .landBTN{
    text-decoration: none;
    background-color: #ff6496;
    font-size: 17px;
    margin: 0 25px;
    border: none;
    border-radius: 30px;
    color: #fff;
    padding: 12px;
    text-align: center;
}

#body span{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}

/* ------------------------------------Contact page---------------------------------- */
.contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-con{
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-con img{
    height: 70vh;
}

.right-con{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-con span{
    display: flex;
    height: 40px;
    align-items: center;
    margin-top: 10px;
}

.right-con span i{
    margin-right: 8px;
    font-size: 20px;
}

.right-con span p{
    margin-bottom: 0;
}